# groundingdino build
workspace/noetic_src/OVGNet/groundingdino/build/lib.linux-x86_64-3.9/
workspace/noetic_src/OVGNet/groundingdino/build/temp.linux-x86_64-3.9/
workspace/noetic_src/OVGNet/groundingdino/build/temp.linux-x86_64-cpython-39/home/ros/
workspace/noetic_src/OVGNet/groundingdino/groundingdino.egg-info/
workspace/noetic_src/OVGNet/groundingdino/_C.cpython-39-x86_64-linux-gnu.so

workspace/noetic_src/OVGNet/assets
workspace/noetic_src/OVGNet/checkpoint
workspace/noetic_src/OVGNet/test_vg/checkpoint
workspace/noetic_src/OVGNet/test_vg/finetune_training
workspace/noetic_src/OVGNet/test_vg/finetune2_training
workspace/noetic_src/OVGNet/test_vg/scratch_training
workspace/noetic_src/OVGNet/test_vg/test_result
workspace/noetic_src/OVGNet/test_vg/train_result

__pycache__/