# groundingdino build
workspace/noetic_src/OVGNet/groundingdino/build/lib.linux-x86_64-3.9/
workspace/noetic_src/OVGNet/groundingdino/build/temp.linux-x86_64-3.9/
workspace/noetic_src/OVGNet/groundingdino/build/temp.linux-x86_64-cpython-39/home/ros/
workspace/noetic_src/OVGNet/groundingdino/groundingdino.egg-info/
workspace/noetic_src/OVGNet/groundingdino/_C.cpython-39-x86_64-linux-gnu.so

assets
training_output
checkpoint
finetune_training
finetune2_training
scratch_training
test_result
train_result
ovgrasping

tolerance
logs_rs
build
dist
weights

*.egg-info
*.o
*.so
*.egg
*.npy
*.npz
*.ipynb

*.ipynb
**/.ipynb_checkpoints/**
*.npy
*.npz
**/.vscode/**
**/grasp_label*/**
**/log*/**
**/dump*/**
**/build/**
*.o
*.so
*.egg
**/*.egg-info/**

__pycache__/
data/
