<launch>
  <node pkg="ovgnet-ros" type="ros_groundingdino.py" name="grounding_dino_node" output="screen">
    <param name="config_path" value="$(find groundingdino-ros)/src/groundingdino/config/GroundingDINO_SwinT_OGC.py" />
    <param name="checkpoint_path" value="$(find groundingdino-ros)/src/groundingdino/weights/groundingdino_swint_ogc.pth" />
    <param name="text_prompt" value="silver pen"/>
    <param name="output_dir" value="$(find ovgnet-ros)/data"/>
    <param name="input_dir" value="$(find ovgnet-ros)/data"/>
  </node>
</launch>
