
services:

  ovgnet_noetic:
    build:
        context: ../workspace
        dockerfile: ../ros_docker_setup/Dockerfile.noetic
        args:
          USER_ID: ${USER_ID:-1000}
          GROUP_ID: ${GROUP_ID:-1000}
    image: ovgnet/ros:noetic
    container_name: ovgnet_noetic
    # network_mode: "host"           # UNCOMMENT THIS OPTION IF USE WINDOWS DISPLAY
    stdin_open: true               # docker run -i
    tty: true                      # docker run -t
    env_file:
      - .env.noetic
    extra_hosts:
      - "hostmachine:10.4.89.73"
    volumes:
       - /tmp/.X11-unix:/tmp/.X11-unix:rw
       - ~/.Xauthority:/home/ros/.Xauthority:rw
       - ../workspace/noetic_src:/home/ros/catkin_ws/src
       - ../data/noetic:/home/ros/data
       - /dev:/dev
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            capabilities:
              - gpu
              - utility # nvidia-smi
              - compute # CUDA
              - video   # NVDEC/NVENC/NVCUVID. For instance to use a hardware accelerated ffmpeg. Skip it if you don't need it
    # privileged: true

  # kinetic:
  #   build:
  #       context: ../workspace
  #       dockerfile: ../ros_docker_setup/Dockerfile.kinetic
  #       args:
  #         USER_ID: ${USER_ID:-1000}
  #         GROUP_ID: ${GROUP_ID:-1000}
  #   image: ur5/ros:kinetic
  #   container_name: ros_kinetic
  #   network_mode: "host"           # access to host's network
  #   stdin_open: true               # docker run -i
  #   tty: true                      # docker run -t
  #   env_file:
  #     - .env.kinetic
  #   # environment:
  #   #   - DISPLAY=${DISPLAY}             # Pass the display for GUI
  #   #   - QT_X11_NO_MITSHM=1             # Needed by QT programs
  #   #   - LIBGL_ALWAYS_SOFTWARE=1
  #   #   - XAUTHORITY=/tmp/.docker.xauth
  #   volumes:
  #      - /tmp/.X11-unix:/tmp/.X11-unix:rw
  #      - /tmp/.docker.xauth:/tmp/.docker.xauth:rw
  #      - ../workspace/kinetic_src:/home/ros/catkin_ws/src
  #      - ../data/kinetic:/home/ros/data
  #   devices: 
  #      - /dev/dri:/dev/dri
  #   privileged: true  
